<div class="container">
	<% if @user.errors.any? %>
		<div class="alert alert-warning">
			<h2><%= @user.errors.count %> errors prohibited this book from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<h2>User info</h2>
	<%= form_for(@user,url:user_path(@user.id)) do |f|%>
	<div class="field">
		<p>
			<strong>Name</strong>
			<%= f.text_field :name %>
		</p>
	</div>
	<div class="field">
		<strong>Image</strong>
		<%= f.attachment_field :profile_image %>
	</div>
	<div class="field">
		<p>
			<strong>Introduction</strong>
			<%= f.text_area :introduction,autofocus: true %>
		</p>
	</div>
	<div class="actions">
		<%= f.submit "Update User" ,class:'btn btn-default'%>
	</div>
	<% end %>
</div>
