<div class="col-xs-3">
	<section class="users-info">
		<h2>User info</h2>
			<%= attachment_image_tag user, :profile_image, format:'jpeg',fallback:"no_image.jpg",size:"100x100" %>
				<table class="table">
					<tr>
						<td><strong>name</strong></td>
						<td><strong><%= user.name %></strong></td>
					</tr>
					<tr>
						<td><strong>introduction</strong></td>
						<td><strong><%= user.introduction %></strong></td>
					</tr>
				</table>
				<div class="row">
					<%= link_to edit_user_path(user.id) do %>
						<span class="col-xs-12 edit-icon" href=edit_user_path(user.id)><i class="fas fa-edit"></i></span>
					<% end %>
				</div>
	</section>
	<div class="new-book">
		<h2>New book</h2>
		<%= form_for(book,url: books_path, method: :post) do |f|%>
		<div class="field row" style="padding-bottom: 10px">
			<p class="book-title"><strong>Title</strong></p>
					<%= f.text_field :title,autofocus: true, class:"col-xs-12" %>
		</div>
		<div class="field row" style="padding-bottom: 10px">
			<p class="book-opinion"><strong>Opinion</strong></p>
			<%= f.text_area :body, class:"col-xs-12" %>
		</div>
		<div class="actions row" style="padding-bottom: 10px">
				<%= f.submit "Create Book",class:"col-xs-12 btn btn-primary"%>
		</div>
		<% end %>
	</div>
</div>